.container {
}

.imgContainer {
  width: 100%;

  img {
    width: 100%;
  }
}

.postContainer {
  max-width: 720px;
  margin: 5rem auto;
  padding: 0 2rem;

  > strong {
    display: block;
    color: var(--heading);
    font-size: 4rem;
    font-weight: 700;
    margin: 3rem 0;
  }

  > div {
    margin-top: 1.5rem;
  }

  .lastEditDate {
    font-style: italic;
  }

  .postContent {
    margin-top: 4rem;

    h3 {
      display: block;
      color: var(--heading);
      font-size: 3rem;
      font-weight: 700;
      margin: 3rem 0;
    }

    strong {
    }

    p,
    ul {
      font-size: 1.125rem;
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

.hr {
  max-width: 656px;
  margin: 0 auto;
  padding: 0 2rem;
  display: block;
  background: rgba(215, 215, 215, 0.1);
  height: 1px;
}

.pagination {
  max-width: 720px;
  margin: 3rem auto;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;

  a {
    max-width: 50%;
    text-align: start;

    h3 {
      color: var(--heading);
      font-weight: 400;
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
    }

    strong {
      color: var(--highlight);
      font-size: 1rem;
      display: block;
    }

    > {
      text-align: start;
    }
  }
}
